@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --wine-red: #c7375f;
  --bright-red: #d42d2f;
  --dark-green: #344d2f;
  --light-green: #77a047;
  --gold: #fac57d;
  --snow: #f0f4f7;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  color: var(--dark-green);
  background-color: var(--light-green);
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  background: var(--wine-red);
  color: var(--snow);
  padding: 1em 2em;
  border-radius: 5px;
  border-radius: 10px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.4);
}

.countdown-display {
  font-size: 2.5rem;
}
.date {
  padding: 15px;
}

#datepicker {
  padding: 10px 15px;
  border: none;
  background-color: var(--dark-green);
  color: white;
  cursor: pointer;
  margin-left: 10px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  body {
    height: auto;
    background-color: #c7375f;
  }
  .container {
    box-shadow: none;
  }
}
