:root {
  --wine-red: #c7375f;
  --bright-red: #d42d2f;
  --dark-green: #344d2f;
  --light-green: #77a047;
  --gold: #fac57d;
  --snow: #f0f4f7;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: var(--snow);
  background: rgb(15, 3, 122);
  background: linear-gradient(
    311deg,
    rgba(15, 3, 122, 1) 5%,
    rgba(15, 2, 60, 1) 57%
  );
}

.elf-hangout-zone {
  /* Limit the number of elves to 6 per row. */
  /* Make sure that the elves stay in the elf hangout zone, 
    no matter how many there are. */

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
  flex-direction: column;
  min-width: 200px;
  min-height: 200px;
  max-height: 300px;
  max-width: 5ch;
  overflow-y: scroll;
  background: var(--wine-red);
  padding: 1em 2em;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  scroll-behavior: smooth;
  scrollbar-color: #000;
}

h1 {
  margin: 0;
}

.elf {
  font-size: 30px;
}

.btn {
  width: 250px;
  padding: 1em 2em;
  border: none;
  font-size: 1.2rem;
  background-color: var(--dark-green);
  color: var(--snow);
  border-radius: 999px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  margin-bottom: 8px;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.03);
}
.add-btn {
  background-color: #28a745;
}
.remove-btn {
  background-color: #dc3545;
}
