* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #e76f51;
  text-decoration: none;
}

body {
  background-color: #264653;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

a {
  margin: 10px 0;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}
