@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
  --body-bg: #1e1f25;
  --btn-bg: #000;
  --btn-color: #cbcbcb;
  --btn-color-hover: #fff;
  --grad-color1: #eeaf61;
  --grad-color2: #fb9062;
  --grad-color3: #ee5d6c;
  --grad-color4: #ce4993;
  --grad-color5: #6a0d83;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100dvh;
  background-color: var(--body-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  position: relative;
  padding: 20px 25px;
  font-family: inherit;
  font-weight: bold;
  letter-spacing: 2px;
  color: var(--btn-color);
  background-color: var(--btn-bg);
  border-width: 3px;
  border-style: solid;
  border-color: transparent;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
button:hover {
  scale: 1.1;
  color: white;
}

button::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border: 3px solid transparent;
  border-image: linear-gradient(
    115deg,
    var(--grad-color1),
    var(--grad-color2),
    var(--grad-color3),
    var(--grad-color4),
    var(--grad-color5)
  );
  border-image-slice: 1;
  transition: transform 1.5s ease-in-out;
}

button:hover::before {
  /* transform: rotate(360deg);  */
  transform: scale(-1);
}
