* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: rgb(2, 0, 31);
  background: radial-gradient(
    circle,
    rgba(2, 0, 31, 1) 2%,
    rgba(0, 0, 52, 1) 100%
  );
  padding: 10px;
  color: whitesmoke;
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}
